.view-post {
    position: absolute;
    // bottom: 0;
    // left: 0;
    height: 100%;
    width: 30%;
    // height: 93.5vh;

    z-index: 2;

    background-color: grey;

    padding: 1rem;

    &__imgs-container {
        display: flex;
    }

    &__selected-img {
        width: 15rem;
        height: 10rem;
        object-fit: cover;
    }

    &__other-imgs-container {
        display: flex;
        overflow: hidden;
    }

    &__other-imgs {
        width: 15rem;
        height: 10rem;
        object-fit: cover;
    }
}
