@use "../../styles/partials/variables" as *;

.view-post {
    position: absolute;
    height: 100%;
    width: 30%;
    z-index: 2;
    padding: 1rem;
    background-color: rgba($color: $light-blue, $alpha: 20%);

    &__imgs-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.5rem;
        height: 95%;
    }

    &__selected-img {
        width: 100%;
        height: 15rem;
        object-fit: cover;
        cursor: pointer;
    }

    &__other-imgs-container {
        background-color: lightblue;
        overflow-y: auto;

        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
        grid-gap: 0;
    }

    &__other-imgs {
        object-fit: cover;
        width: 100%;
        height: 100%;
        cursor: pointer;
    }
}
