.map-container {
    width: 100%;
    height: 100%;
    display: flex;
}

.map {
    &__globe-container {
        width: 100%;
        height: 100%;
        transition: transform 0.3s ease-in-out;

        &--viewpost {
            width: 85%;
            transform: translate(15vw);
        }
    }
}
