.map-container {
    width: 100%;
    height: 100%;
    display: flex;
    // justify-content: center;
    // height: 100%;
}

.map {
    &__globe-container {
        width: 100%;
        height: 100%;
        display: flex;

        &--viewpost {
            width: 80%;
            transform: translate(225px);
        }
    }
}
