.fullscreen {
    position: fixed;
    top: 50%;
    left: 50%;
    translate: (-50% -50%);

    width: 100vw;
    height: 100vh;

    &__img {
        width: 100%;
        height: 100%;

        object-fit: contain;
        display: block;
    }
}
