.add {
    padding: 1rem 3rem;

    &__form {
        display: flex;
        flex-direction: column;
    }

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
    }

    &__create-btn {
        width: 10rem;
        border: 1px solid black;
        padding: 0.5rem 0;
        border-radius: 1rem;

        &:hover {
            cursor: pointer;
            background-color: lightcyan; //temporary
        }
    }

    &__input {
        font-size: 1rem;
        border-radius: 1rem;
        border: 1px solid black;
        padding: 0.5rem;
        width: 40%;

        &--textarea {
            height: 10rem;
            resize: none;
            margin-bottom: 2rem;
        }
    }

    &__images-container {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
    }
}
