.gallery {
    padding: 2rem 3rem;

    &__title {
        font-size: 1.5rem;
        margin-bottom: 2rem;
    }

    &__imgs-container {
        // display: flex;
        // flex-wrap: wrap;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(4, 1fr);

        gap: 0.25rem;
    }

    &__img {
        width: 100%;
        height: 13rem;
        object-fit: cover;
        object-position: center;
    }
}
