@use "../../styles/partials/variables" as *;

.create-profile {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &__title {
        margin-bottom: 3rem;
    }

    &__form-inputs {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    &__input {
        width: 100%;
        font-size: 1rem;
        border-radius: 0.5rem;
        border: none;
        padding: 0.5rem;
        margin-bottom: 0.75rem;
        background-color: $input-bg;

        &--textarea {
            resize: none;
            font-size: 1rem;
        }
    }

    &__btn-container {
        margin-top: 1rem;
        display: flex;
        gap: 2rem;
    }

    &__btn {
        width: 50%;
        border: none;
        border-radius: 0.5rem;
        padding: 0.5rem 3rem;
        background-color: $light-blue;
        color: black;

        &:hover {
            background-color: $dark-blue;
            color: white;
        }
    }
}
