.collection {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 1rem;
    // padding: 1rem;
    // gap: 1rem;
    // flex: 1 1;
    // width: 30%;
    // min-width: 20rem;

    // background: linear-gradient(#d3d3d300, #d3d3d3);

    overflow: hidden;

    // width: 20rem;
    height: 13rem;

    filter: grayscale(0.4);

    &:hover {
        filter: grayscale(0);
    }

    &__bg-image {
        width: 100%;
        height: 100%;

        padding: 1rem;

        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        // background-clip: border-box;
    }

    &__details-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: stretch;

        width: 100%;
        height: 100%;

        position: relative;
    }

    &__img-nav {
        display: flex;
        justify-content: space-between;

        width: 100%;

        position: absolute;
        top: 50%;
    }

    &__analytics {
        display: flex;
        // align-items: center;
        justify-content: flex-end;
        gap: 0.5rem;
    }

    &__icon-container {
        display: flex;
    }

    &__icon {
        width: 1.5rem;
        object-fit: contain;
    }

    &__img-container {
        display: flex;
        gap: 0.5rem;
        // overflow: auto;
        // scroll-snap-type: x mandatory;
        border-radius: 1rem;
    }

    &__btn {
        cursor: pointer;
    }

    &__btn-nav {
        transform: scale(2);
    }

    &__img {
        background-color: lightgreen;
        // width: 20rem;
        // height: 10rem;
        // object-fit: contain;
        border-radius: 1rem;
        // background-position: center;
        // background-size: contain;
        // background-repeat: no-repeat;
        // background-clip: border-box;
        // scroll-snap-align: start;
        // border: 1px solid black;
        // transition: transform 0.5s ease-in-out;

        // &--transitioning {
        //     transform: translate(-200%);
        // }
    }
}
