@use "../../styles/partials/variables" as *;

.login {
    position: fixed;
    top: 50%;
    left: 50%;
    translate: (-50% -50%);
    width: 30vw;
    height: 50vh;
    border-radius: 1.5625rem;
    padding: 2rem 2.5rem;
    border: none;
    box-shadow: 0 0 #0000, 0 0 #0000, 0 25px 50px -12px rgba(0, 0, 0, 0.25);

    &__container {
        display: flex;
        flex-direction: column;
    }

    &__close {
        position: absolute;
        top: 2.25rem;
        right: 2.25rem;
        cursor: pointer;
    }

    &__close-icon {
        transform: scale(1.8);
    }

    &__title {
        text-align: center;
        margin-bottom: 4rem;
    }

    &__form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__input {
        width: 15rem;
        font-size: 1rem;
        border-radius: 0.5rem;
        padding: 0.5rem;
        border: none;
        background-color: $input-bg;
        font-family: $primary-font;

        &:first-of-type {
            margin-bottom: 1rem;
        }
    }

    &__submit {
        margin-top: 3rem;
        border: none;
        border-radius: 0.5rem;
        padding: 0.5rem 3rem;
        width: 15rem;
        background-color: $light-blue;
        color: black;

        &:hover {
            background-color: $dark-blue;
            color: white;
        }
    }
}
